.sc-error{display: flex; align-items: center; justify-content: center; position: relative; z-index: 1;
    height: 100dvh; background-color: #D9EBFF; padding: 2%; overflow: hidden;
    .triangle { position: absolute; z-index: -1; top: -4%; bottom: 0; right: 55%;
        filter: drop-shadow(5px 5px 50px rgba(128,191,255,0.5));
        svg{display: block;}
    }
    .container{display: flex; align-items: center; justify-content: center;}
    .cover{flex: 1 0 0%;}
    .content{flex: 1 0 0%;}
    .logo-img{max-width: 113px; margin-bottom: 20px;}
    .title{letter-spacing: 0; color: var(--color-primary); font-size: var(--typo-custom); margin-bottom: 20px;}
    .desc{letter-spacing: 0; color: var(--color-black); margin-bottom: 20px;}
    .action{padding-top: 20px;}
    .img{max-height: 100%; height: auto;}
}

/* theme color */
html[data-asw-filter="dark-contrast"]{
}
html[data-asw-filter="yellow-contrast"]{
}

// breakpoints
@media (max-width: 1600px) {
}
@media (max-width: 1440px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}