:root {
	// radius
	--btn-radius: 40px;
	--btn-radius-icon: 50%;

	// width
	--btn-width-xs: 100px;
	--btn-width-sm: 140px;
	--btn-width-default: 160px;
	--btn-width-lg: 200px;

	// height
	--btn-height-xs: 30px;
	--btn-height-sm: 40px;
	--btn-height-default: 50px;
	--btn-height-lg: 60px;
}
.btn{background: none; position: relative; padding: 0 20px; line-height: 1.2em; color: var(--color-default); box-shadow: none; cursor: pointer; 
	border: 1px solid var(--color-default); border-radius: var(--btn-radius); font-size: var(--typo-xs); font-weight: var(--fw-semibold);
	display: inline-flex; align-items: center; justify-content: center; text-decoration: none; font-family: var(--family-default);
	height: var(--btn-height-default); min-width: var(--btn-width-default); transition: var(--transition); gap: 10px;
	&.fluid{min-width: inherit; width: 100%;}
	&:focus{box-shadow: none;}
	&.btn-xs{min-width: var(--btn-width-xs); height: var(--btn-height-xs); font-size: var(--typo-xs);}
	&.btn-sm{min-width: var(--btn-width-sm); height: var(--btn-height-sm); font-size: var(--typo-xs);}
	&.btn-lg{min-width: var(--btn-width-lg); height: var(--btn-height-lg); font-size: var(--typo-default);}
	.icon{position: relative; top: 1px; font-size: 20px;}
	&:hover{border-color: var(--color-dark); color: var(--color-light); background-color: var(--color-dark);
		.icon{color: var(--color-light);}
	}
}

.btn:not(:disabled):not(.disabled).active:focus, 
.btn:not(:disabled):not(.disabled):active:focus, 
.show > .btn.dropdown-toggle:focus{box-shadow: none;}

// button primary
.btn-primary .icon{color: var(--color-light);}
.btn-primary,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:not(:disabled):not(.disabled):active, 
.show > .btn-primary.dropdown-toggle{color: var(--color-light);  background-color: var(--color-primary);  border-color: var(--color-primary);}
.btn-primary:hover,
.btn-primary.active,
.btn-primary:active,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary:active:focus,
.btn-primary.actitve:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.btn-primary:focus:hover,
.btn-primary.focus:hover{color: var(--color-light);  background-color:var(--color-primary-light);  border-color: var(--color-primary-light); }
.btn-primary[disabled],
.btn-primary.disabled,
.btn-primary.disabled:hover{color: var(--color-light); background-color:var(--color-primary); border-color: var(--color-primary); opacity: 0.5; pointer-events: none;}
// button primary outline
.btn-primary.outline .icon{color: var(--color-primary);}
.btn-primary.outline,
.btn-primary.outline:focus,
.btn-primary.outline.focus,
.btn-primary.outline:not(:disabled):not(.disabled):active, 
.show > .btn-primary.outline.dropdown-toggle{color: var(--color-primary); background-color: var(--color-light); border-color: var(--color-primary);}
.btn-primary.outline:hover,
.btn-primary.outline.active,
.btn-primary.outline:active:hover,
.btn-primary.outline.active:hover,
.btn-primary.outline:active:focus,
.btn-primary.outline.actitve:focus,
.btn-primary.outline:active.focus,
.btn-primary.outline.active.focus,
.btn-primary.outline:focus:hover,
.btn-primary.outline.focus:hover{color: var(--color-light); background-color: var(--color-primary); border-color: var(--color-primary);}
.btn-primary.outline:hover .icon{color: var(--color-light);}
.btn-primary.outline[disabled],
.btn-primary.outline.disabled,
.btn-primary.outline.disabled:hover{color: var(--color-primary); background-color:var(--color-primary); border-color: var(--color-light);opacity: 0.5;}

// button secondary
.btn-secondary,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:not(:disabled):not(.disabled):active, 
.show > .btn-secondary.dropdown-toggle{color: var(--color-light);  background-color: var(--color-secondary);  border-color: var(--color-secondary);}
.btn-secondary:hover,
.btn-secondary.active,
.btn-secondary:active,
.btn-secondary:active:hover,
.btn-secondary.active:hover,
.btn-secondary:active:focus,
.btn-secondary.actitve:focus,
.btn-secondary:active.focus,
.btn-secondary.active.focus,
.btn-secondary:focus:hover,
.btn-secondary.focus:hover{color: var(--color-light);  background-color:var(--color-secondary-dark);  border-color: var(--color-secondary-dark); }
.btn-secondary[disabled],
.btn-secondary.disabled,
.btn-secondary.disabled:hover{color: var(--color-light); background-color:var(--color-secondary); border-color: var(--color-secondary); opacity: 0.5; pointer-events: none;}
// button secondary outline
.btn-secondary.outline,
.btn-secondary.outline:focus,
.btn-secondary.outline.focus,
.btn-secondary.outline:not(:disabled):not(.disabled):active, 
.show > .btn-secondary.outline.dropdown-toggle{color: var(--color-secondary); background-color: transparent; border-color: var(--color-secondary);}
.btn-secondary.outline:hover,
.btn-secondary.outline.active,
.btn-secondary.outline:active:hover,
.btn-secondary.outline.active:hover,
.btn-secondary.outline:active:focus,
.btn-secondary.outline.actitve:focus,
.btn-secondary.outline:active.focus,
.btn-secondary.outline.active.focus,
.btn-secondary.outline:focus:hover,
.btn-secondary.outline.focus:hover{color: var(--color-light); background-color: var(--color-secondary); border-color: var(--color-secondary);}
.btn-secondary.outline[disabled],
.btn-secondary.outline.disabled,
.btn-secondary.outline.disabled:hover{color: var(--color-secondary); background-color:transparent; border-color: var(--color-secondary);opacity: 0.5;}

// button error
.btn-error,
.btn-error:focus,
.btn-error.focus,
.btn-error:not(:disabled):not(.disabled):active, 
.show > .btn-error.dropdown-toggle{color: var(--color-light);  background-color: var(--color-error);  border-color: var(--color-error);}
.btn-error:hover,
.btn-error.active,
.btn-error:active,
.btn-error:active:hover,
.btn-error.active:hover,
.btn-error:active:focus,
.btn-error.actitve:focus,
.btn-error:active.focus,
.btn-error.active.focus,
.btn-error:focus:hover,
.btn-error.focus:hover{color: var(--color-light);  background-color:var(--color-error-dark);  border-color: var(--color-error-dark); }
.btn-error[disabled],
.btn-error.disabled,
.btn-error.disabled:hover{color: var(--color-light); background-color:var(--color-error); border-color: var(--color-error); opacity: 0.5; pointer-events: none;}
// button error outline
.btn-error.outline,
.btn-error.outline:focus,
.btn-error.outline.focus,
.btn-error.outline:not(:disabled):not(.disabled):active, 
.show > .btn-error.outline.dropdown-toggle{color: var(--color-error); background-color: transparent; border-color: var(--color-error);}
.btn-error.outline:hover,
.btn-error.outline.active,
.btn-error.outline:active:hover,
.btn-error.outline.active:hover,
.btn-error.outline:active:focus,
.btn-error.outline.actitve:focus,
.btn-error.outline:active.focus,
.btn-error.outline.active.focus,
.btn-error.outline:focus:hover,
.btn-error.outline.focus:hover{color: var(--color-light); background-color: var(--color-error-light); border-color: var(--color-error-light);}
.btn-error.outline[disabled],
.btn-error.outline.disabled,
.btn-error.outline.disabled:hover{color: var(--color-error); background-color:transparent; border-color: var(--color-error);opacity: 0.5;}

// button warning
.btn-warning,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:not(:disabled):not(.disabled):active, 
.show > .btn-warning.dropdown-toggle{color: var(--color-light);  background-color: var(--color-warning);  border-color: var(--color-warning);}
.btn-warning:hover,
.btn-warning.active,
.btn-warning:active,
.btn-warning:active:hover,
.btn-warning.active:hover,
.btn-warning:active:focus,
.btn-warning.actitve:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.btn-warning:focus:hover,
.btn-warning.focus:hover{color: var(--color-light);  background-color:var(--color-warning-dark);  border-color: var(--color-warning-dark); }
.btn-warning[disabled],
.btn-warning.disabled,
.btn-warning.disabled:hover{color: var(--color-light); background-color:var(--color-warning); border-color: var(--color-warning); opacity: 0.5; pointer-events: none;}
// button warning outline
.btn-warning.outline,
.btn-warning.outline:focus,
.btn-warning.outline.focus,
.btn-warning.outline:not(:disabled):not(.disabled):active, 
.show > .btn-warning.outline.dropdown-toggle{color: var(--color-warning); background-color: transparent; border-color: var(--color-warning);}
.btn-warning.outline:hover,
.btn-warning.outline.active,
.btn-warning.outline:active:hover,
.btn-warning.outline.active:hover,
.btn-warning.outline:active:focus,
.btn-warning.outline.actitve:focus,
.btn-warning.outline:active.focus,
.btn-warning.outline.active.focus,
.btn-warning.outline:focus:hover,
.btn-warning.outline.focus:hover{color: var(--color-light); background-color: var(--color-warning-light); border-color: var(--color-warning-light);}
.btn-warning.outline[disabled],
.btn-warning.outline.disabled,
.btn-warning.outline.disabled:hover{color: var(--color-warning); background-color:transparent; border-color: var(--color-warning);opacity: 0.5;}

// button success
.btn-success,
.btn-success:focus,
.btn-success.focus,
.btn-success:not(:disabled):not(.disabled):active, 
.show > .btn-success.dropdown-toggle{color: var(--color-light);  background-color: var(--color-success);  border-color: var(--color-success);}
.btn-success:hover,
.btn-success.active,
.btn-success:active,
.btn-success:active:hover,
.btn-success.active:hover,
.btn-success:active:focus,
.btn-success.actitve:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.btn-success:focus:hover,
.btn-success.focus:hover{color: var(--color-light);  background-color:var(--color-success-dark);  border-color: var(--color-success-dark); }
.btn-success[disabled],
.btn-success.disabled,
.btn-success.disabled:hover{color: var(--color-light); background-color:var(--color-success); border-color: var(--color-success); opacity: 0.5; pointer-events: none;}
// button success outline
.btn-success.outline,
.btn-success.outline:focus,
.btn-success.outline.focus,
.btn-success.outline:not(:disabled):not(.disabled):active, 
.show > .btn-success.outline.dropdown-toggle{color: var(--color-success); background-color: transparent; border-color: var(--color-success);}
.btn-success.outline:hover,
.btn-success.outline.active,
.btn-success.outline:active:hover,
.btn-success.outline.active:hover,
.btn-success.outline:active:focus,
.btn-success.outline.actitve:focus,
.btn-success.outline:active.focus,
.btn-success.outline.active.focus,
.btn-success.outline:focus:hover,
.btn-success.outline.focus:hover{color: var(--color-light); background-color: var(--color-success-light); border-color: var(--color-success-light);}
.btn-success.outline[disabled],
.btn-success.outline.disabled,
.btn-success.outline.disabled:hover{color: var(--color-success); background-color: transparent; border-color: var(--color-success);opacity: 0.5;}

// button info
.btn-info,
.btn-info:focus,
.btn-info.focus,
.btn-info:not(:disabled):not(.disabled):active, 
.show > .btn-info.dropdown-toggle{color: var(--color-light);  background-color: var(--color-default);  border-color: var(--color-default);}
.btn-info:hover,
.btn-info.active,
.btn-info:active,
.btn-info:active:hover,
.btn-info.active:hover,
.btn-info:active:focus,
.btn-info.actitve:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.btn-info:focus:hover,
.btn-info.focus:hover{color: var(--color-light);  background-color:var(--color-dark);  border-color: var(--color-dark); }
.btn-info[disabled],
.btn-info.disabled,
.btn-info.disabled:hover{color: var(--color-light); background-color:var(--color-default); border-color: var(--color-default); opacity: 0.5; pointer-events: none;}
// button info outline
.btn-info.outline,
.btn-info.outline:focus,
.btn-info.outline.focus,
.btn-info.outline:not(:disabled):not(.disabled):active, 
.show > .btn-info.outline.dropdown-toggle{color: var(--color-light); background-color: transparent; border-color: rgba(255,255,255,0.3);}
.btn-info.outline:hover,
.btn-info.outline.active,
.btn-info.outline:active:hover,
.btn-info.outline.active:hover,
.btn-info.outline:active:focus,
.btn-info.outline.actitve:focus,
.btn-info.outline:active.focus,
.btn-info.outline.active.focus,
.btn-info.outline:focus:hover,
.btn-info.outline.focus:hover{color: var(--color-dark); background-color: var(--color-light); border-color: var(--color-light);}
.btn-info.outline[disabled],
.btn-info.outline.disabled,
.btn-info.outline.disabled:hover{color: var(--color-primary-dark); background-color: transparent; border-color: var(--color-light);opacity: 0.5;}

// button light
.btn-light,
.btn-light:focus,
.btn-light.focus,
.btn-light:not(:disabled):not(.disabled):active, 
.show > .btn-light.dropdown-toggle{color: var(--color-secondary);  background-color: var(--color-light);  border-color: var(--color-light);}
.btn-light:hover,
.btn-light.active,
.btn-light:active,
.btn-light:active:hover,
.btn-light.active:hover,
.btn-light:active:focus,
.btn-light.actitve:focus,
.btn-light:active.focus,
.btn-light.active.focus,
.btn-light:focus:hover,
.btn-light.focus:hover{color: var(--color-light);  background-color:var(--color-secondary);  border-color: var(--color-light); }
.btn-light[disabled],
.btn-light.disabled,
.btn-light.disabled:hover{color: var(--color-secondary); background-color:var(--color-light); border-color: var(--color-light); opacity: 0.5; pointer-events: none;}
// button light outline
.btn-light.outline,
.btn-light.outline:focus,
.btn-light.outline.focus,
.btn-light.outline:not(:disabled):not(.disabled):active, 
.show > .btn-light.outline.dropdown-toggle{color: var(--color-light); background-color: transparent; border-color: var(--color-light);}
.btn-light.outline:hover,
.btn-light.outline.active,
.btn-light.outline:active:hover,
.btn-light.outline.active:hover,
.btn-light.outline:active:focus,
.btn-light.outline.actitve:focus,
.btn-light.outline:active.focus,
.btn-light.outline.active.focus,
.btn-light.outline:focus:hover,
.btn-light.outline.focus:hover{color: var(--color-secondary); background-color: var(--color-light); border-color: var(--color-light);
	.icon{
		svg{
			path{fill: var(--color-secondary);}
		}
	}
}
.btn-light.outline[disabled],
.btn-light.outline.disabled,
.btn-light.outline.disabled:hover{color: var(--color-primary-dark); background-color: transparent; border-color: var(--color-light);opacity: 0.5;}

.MuiButton-root{
	.icon{position: relative; top: 1px; font-size: 20px;}
	&.MuiButton-outlinedSecondary{
		.icon{color: var(--color-secondary-dark); border-color: var(--color-secondary-dark);}
		&:hover{
			.icon{color: var(--color-light);}
		}
	}
	&.MuiButton-outlinedPrimary{
		.icon{color: var(--color-primary);}
		&:hover{
			.icon{color: var(--color-light);}
		}
	}
}

/* theme color */
html[data-asw-filter="dark-contrast"]{
	.MuiButton-root.MuiButton-containedSecondary{border-color: var(--color-gray); background-color: var(--color-gray); color: var(--color-light);}

	.MuiButton-root.MuiButton-outlinedPrimary{border-color: var(--color-dark); color: var(--color-dark); background-color: transparent;}
	.MuiButton-root.MuiButton-outlinedPrimary:hover{background-color: var(--color-dark); color: var(--color-light);}
	.MuiButton-root.MuiButton-outlinedPrimary:hover .icon{color: var(--color-light);}

	.MuiButton-root.MuiButton-containedPrimary{border-color: var(--color-dark); color: var(--color-light); background-color: var(--color-dark);}
	.MuiButton-root.MuiButton-containedPrimary:hover{background-color: var(--color-light); color: var(--color-dark);}
	.MuiButton-root.MuiButton-containedPrimary:hover .icon{color: var(--color-light);}

	.btn-primary.outline, .btn-primary.outline:focus, .btn-primary.outline.focus, 
	.btn-primary.outline:not(:disabled):not(.disabled):active, 
	.show > .btn-primary.outline.dropdown-toggle{background-color: transparent; color: var(--color-dark); border-color: var(--color-dark);}
	.btn-primary.outline .icon{color: var(--color-dark);}
	.btn-primary.outline:hover, .btn-primary.outline.active, .btn-primary.outline:active:hover, 
	.btn-primary.outline.active:hover, .btn-primary.outline:active:focus, .btn-primary.outline.actitve:focus, 
	.btn-primary.outline:active.focus, .btn-primary.outline.active.focus, .btn-primary.outline:focus:hover, 
	.btn-primary.outline.focus:hover{background-color: var(--color-dark); color: var(--color-light); border-color: var(--color-dark);}
	.btn-primary.outline:hover .icon{color: var(--color-light);}
}
html[data-asw-filter="yellow-contrast"]{
	.MuiButton-root.MuiButton-containedSecondary{border-color: var(--color-gray); background-color: var(--color-gray); color: var(--color-yellow);}
	.MuiButton-root.MuiButton-containedSecondary .icon{color: var(--color-yellow);}
	.MuiButton-root.MuiButton-containedSecondary .icon svg path{fill:var(--color-yellow)}

	.MuiButton-root.MuiButton-outlinedPrimary{border-color: var(--color-dark); color: var(--color-dark); background-color: transparent;}
	.MuiButton-root.MuiButton-outlinedPrimary:hover{background-color: var(--color-dark); color: var(--color-yellow);}
	.MuiButton-root.MuiButton-outlinedPrimary:hover .icon{color: var(--color-yellow);}

	.MuiButton-root.MuiButton-containedPrimary{border-color: var(--color-dark); color: var(--color-yellow); background-color: var(--color-dark);}
	.MuiButton-root.MuiButton-containedPrimary:hover{background-color: var(--color-yellow); color: var(--color-dark);}
	.MuiButton-root.MuiButton-containedPrimary:hover .icon{color: var(--color-yellow);}

	.btn-primary.outline, .btn-primary.outline:focus, .btn-primary.outline.focus, 
	.btn-primary.outline:not(:disabled):not(.disabled):active, 
	.show > .btn-primary.outline.dropdown-toggle{background-color: transparent; color: var(--color-dark); border-color: var(--color-dark);}
	.btn-primary.outline .icon{color: var(--color-dark);}
	.btn-primary.outline:hover, .btn-primary.outline.active, .btn-primary.outline:active:hover, 
	.btn-primary.outline.active:hover, .btn-primary.outline:active:focus, .btn-primary.outline.actitve:focus, 
	.btn-primary.outline:active.focus, .btn-primary.outline.active.focus, .btn-primary.outline:focus:hover, 
	.btn-primary.outline.focus:hover{background-color: var(--color-dark); color: var(--color-yellow); border-color: var(--color-dark);}
	.btn-primary.outline:hover .icon{color: var(--color-yellow);}
}

// breakpoints
@media (max-width: 1600px) {
}
@media (max-width: 1440px) {
	:root {
		// radius
		--btn-radius: 30px;
		--btn-radius-icon: 50%;

		// width
		--btn-width-xs: 80px;
		--btn-width-sm: 120px;
		--btn-width-default: 150px;
		--btn-width-lg: 180px;

		// height
		--btn-height-xs: 30px;
		--btn-height-sm: 35px;
		--btn-height-default: 45px;
		--btn-height-lg: 55px;
	}
}
@media (max-width: 1199px) {
	:root {
		// radius
		--btn-radius: 25px;
		--btn-radius-icon: 50%;

		// width
		--btn-width-xs: 70px;
		--btn-width-sm: 110px;
		--btn-width-default: 140px;
		--btn-width-lg: 160px;

		// height
		--btn-height-xs: 25px;
		--btn-height-sm: 30px;
		--btn-height-default: 40px;
		--btn-height-lg: 50px;
	}

	.MuiButton-root .icon svg{max-width: 20px; max-height: 20px;}
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}