@font-face {
    font-family: 'sukhumvit';
    src: url('../../font/sukhumvitset/sukhumvitset-thin.woff2') format('woff2'),
         url('../../font/sukhumvitset/sukhumvitset-thin.woff') format('woff');
         font-weight: 100; font-style: normal; font-display: swap;
}
@font-face {
    font-family: 'sukhumvit';
    src: url('../../font/sukhumvitset/sukhumvitset-light.woff2') format('woff2'),
         url('../../font/sukhumvitset/sukhumvitset-light.woff') format('woff');
    font-weight: 300; font-style: normal; font-display: swap;
}
@font-face {
    font-family: 'sukhumvit';
    src: url('../../font/sukhumvitset/sukhumvitset-text.woff2') format('woff2'),
         url('../../font/sukhumvitset/sukhumvitset-text.woff') format('woff');
    font-weight: 400; font-style: normal; font-display: swap;
}
@font-face {
    font-family: 'sukhumvit';
    src: url('../../font/sukhumvitset/sukhumvitset-medium.woff2') format('woff2'),
         url('../../font/sukhumvitset/sukhumvitset-medium.woff') format('woff');
    font-weight: 500; font-style: normal; font-display: swap;
}
@font-face {
    font-family: 'sukhumvit';
    src: url('../../font/sukhumvitset/sukhumvitset-semibold.woff2') format('woff2'),
         url('../../font/sukhumvitset/sukhumvitset-semibold.woff') format('woff');
    font-weight: 600; font-style: normal; font-display: swap;
}
@font-face {
    font-family: 'sukhumvit';
    src: url('../../font/sukhumvitset/sukhumvitset-bold.woff2') format('woff2'),
         url('../../font/sukhumvitset/sukhumvitset-bold.woff') format('woff');
    font-weight: 700; font-style: normal; font-display: swap;
}